<div class="chatroom" data-controller="chat-subscription" data-chat-subscription-itinerary-value="<%= @itinerary.id %>">

  <h1>Chat</h1>
  <div>
    <%= simple_form_for [@itinerary, @message], html: { data: { action: "turbo:submit-end->chat-subscription#resetForm" }, class: "d-flex"} do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message here..."%>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>

  <div data-chat-subscription-target="messages">
    <% @itinerary.messages.reverse_each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>

  </div>

</div>
