<div>
  <h3 class="my-3" style="font-size: 1rem"><i class="fa-solid fa-plus fa-2xs"></i> New Collaboration:</h3>
  <%= simple_form_for([@itinerary, @collaboration]) do |f| %>

    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="d-flex justify-content-start">
      <div class="form-inputs d-flex">
      <div class="d-flex align-items-end">
        <%= f.input :email, placeholder: 'Enter email' %>
        <%= f.input :role, collection: ['editor', 'viewer'], prompt: 'Select role', label: 'Permissions' %>
        <%= f.button :submit, 'Add', class: "btn btn-primary mb-3", style: "font-weight: bold;" %>
      </div>
      </div>
    </div>
  <% end %><br>
</div>
