<div class="">
  <% @selections_with_days.each do |day, selection| %>
    <div class="d-flex">
      <p><i class="fa-regular fa-calendar-days fa-xl"></i><h4 class="ms-2"> Day <%= day %></h4></p>
    </div>
    <div class="d-flex itinerarycard border">
      <% selection.each do |selection| %>
        <div class="daycards" data-controller="reviewform">
          <div data-controller="dayicons">
            <div class="daycard" data-action="mouseover->dayicons#display">
              <div id="day-icons" class="d-flex d-none" data-controller="add-activity-to-day" data-dayicons-target="icons">
                <%= link_to edit_selection_path(selection)  do %>
                  <i class="fa-solid fa-pen fa-square-plus" id="linkday" data-action="click->add-activity-to-day#displayForm"></i>
                <% end %>

                <div data-controller="sweet-alert">
                  <%= link_to selection_path(selection), data: {turbo_method: :delete, sweet_alert_target: :delete }  do %>
                  <i class="fa-regular fa-trash-can mx-1" id="linkday" data-action="click->sweet-alert#fireAlert"></i>
                  <% end %>
                </div>

                <div><i class="fa-solid fa-star fa-sm" data-action="click->reviewform#fire"></i></div>
              </div>
              <%= image_tag selection.activity.image_url, class: 'img' %>
              <div class="d-flex justify-content-between">
                <h6><%= selection.activity.name.truncate(40, separator: ' ') %></h6>
                <div class="d-flex justify-content-between m-1">
                </div>
              </div>
              <p><%= selection.activity.description.truncate(140, separator: ' ') %></p>
            </div>
          </div>

          <div class="review-form d-none" data-reviewform-target="reviewbox">
            <%= render "reviews/reviewform", activity: selection.activity, selection: selection, review: @review%>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
