<div class="d-flex justify-content-between">
  <div class="col-8" >
    <div class="container d-flex justify-content-between">
      <div data-controller="toggle">
        <div class="d-flex" >
          <div class="d-flex">
            <h1 class="my-3"><%= @itinerary.title.capitalize %></h1>
            <% if current_user == @owner %>
              <div class="d-flex justify-content-start">
                <%# Hide the links for unauthorized users: %>
                <% if policy(@itinerary).edit? && policy(@itinerary).destroy? %>
                  <div class="d-flex my-4">
                    <i class="fa-solid fa-pen" data-bs-toggle="modal" data-bs-target="#editModal"></i>
                    <%= render "itineraries/editform", itinerary: @itinerary %>
                    <div data-controller="sweet-alert">
                      <%= button_to @itinerary, method: :delete, remote: true, data: {turbo_method: :delete, sweet_alert_target: :delete }, class: "btn btn-default" do %>
                        <i class="fa-regular fa-trash-can" data-action="click->sweet-alert#fireAlert"></i>
                      <% end %>
                    </div>
                    <i data-toggle-target="button" data-action="click->toggle#toggle" class="fa-solid fa-user-plus my-2 mx-3"></i> <% if current_user == @owner %><% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="m-3">
            <div class="d-flex">
              <div class="m-2">
                <%= render "itineraries/avatar", user: @owner %>
              </div>
              <% @itinerary.users.each do |user| %>
                <% unless user == @owner %>
                  <div class="d-flex">
                    <div class="collaborators m-2">
                      <%= render "itineraries/avatar", user: user %>
                      <div id="delete-btn" data-controller="sweet-alert">
                        <%= link_to user.collaborations.find_by(itinerary_id: @itinerary.id), method: :delete, remote: true, data: { turbo_method: :delete, sweet_alert_target: :delete }, class: "button-collaborators" do %>
                          <i class="fa-solid fa-x fa-2xs" data-action="click->sweet-alert#fireAlert"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if current_user == @owner %>
                <div class="container pt-2 d-none" data-toggle-target="form">
                  <%= render "itineraries/collaboration_form" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%# selections %>
        <div class="d-flex">
          <div class="daycards">
            <%= render "day_card" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="position-fix">
      <%= render "wish_list_card"%>
    </div>

  </div>
</div>
