<div class="container d-flex justify-content-between">
  <div class="col-6 mx-3" data-controller="toggle">
    <div class="container d-flex">
      <h3 class="my-3"><%= @itinerary.title %></h3>
      <% if current_user == @owner %>
        <div class="d-flex justify-content-start">
          <%# Hide the links for unauthorized users: %>
          <% if policy(@itinerary).edit? %>
            <%= button_to edit_itinerary_path(@itinerary), method: :get, remote: true, class: "btn btn-default" do %>
                <i class="fa-solid fa-pen"></i>
            <% end %>
          <% end %>
          <% if policy(@itinerary).destroy? %>
            <%= button_to @itinerary, method: :delete, remote: true, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-default" do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# collaborations %>
    <div>
      <p data-toggle-target="button" data-action="click->toggle#toggle"><strong>Collaborators: </strong><% if current_user == @owner %><i class="fa-solid fa-user-plus"></i><% end %></p>
      <% @itinerary.users.each do |user| %>
        <div>
          <i class="fa-solid fa-user"></i><%= " #{user.first_name} #{user.last_name}" %>
        </div>
      <% end %>
    </div>

      <% if current_user == @owner %>
        <div class="d-none" data-toggle-target="form">
          <%= render "itineraries/collaboration_form" %>
        </div>
      <% end %>

  </div>

  <div class="col-6">
    <%= render "itineraries/chat" %>
  </div>
</div>

<%# TO MAKE A _PATH %>
<%# => prefix_path %>
<%# a. if the url you are trying to build has no ids, this is enough %>
<%# example: itineraries_path  %>
<%# b. if the url you are trying to build needs an id, you need to pass the instance as an argument %>
<%# example: itinerary_collaborations_path(@itinerary) %>
<%#  is going to create a url like: /itineraries/40/collaborations %>
