<div class="container">
  <h1 class="my-3"><i class="fa-solid fa-map-location-dot"></i> <%= @itinerary.title %></h1>

  <%# collaborations %>
  <table>
    <th><strong>All collaborations</strong>: </th>
    <% @itinerary.collaborations.each do |collaboration|%>
      <th><i class="fa-solid fa-user"></i></th>
      <th><%= collaboration.role %></th>
    <% end %>
  </table><br>
  <%= link_to "All collaborations", itinerary_collaborations_path(@itinerary), class:"btn btn-primary text-align-center me-3 mb-3" %>

  <%# Back to All Itineraries %>
  <div class="d-flex justify-content-start">
    <%= link_to "Back to All Itineraries", itineraries_path, class:"btn btn-primary text-align-center me-3" %>

    <%# Hide the links for unauthorized users: %>
    <% if policy(@itinerary).edit? %>
      <%= link_to "Edit this itinerary", edit_itinerary_path(@itinerary), class: "btn btn-success me-3" %>
    <% end %>

    <% if policy(@itinerary).destroy? %>
      <%= button_to "Destroy this itinerary", @itinerary, method: :delete, class: "btn btn-danger me-3", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<%# TO MAKE A _PATH %>
<%# => prefix_path %>
<%# a. if the url you are trying to build has no ids, this is enough %>
<%# example: itineraries_path  %>
<%# b. if the url you are trying to build needs an id, you need to pass the instance as an argument %>
<%# example: itinerary_collaborations_path(@itinerary) %>
<%#  is going to create a url like: /itineraries/40/collaborations %>
