<div class="container d-flex justify-content-between">
  <div class="col-6 mx-3" data-controller="toggle">
    <div class="container d-flex">
      <h3 class="my-3"><%= @itinerary.title %></h3>
      <% if current_user == @owner %>
        <div class="d-flex justify-content-start">
          <%# Hide the links for unauthorized users: %>
          <% if policy(@itinerary).edit? %>
            <%= button_to edit_itinerary_path(@itinerary), method: :get, remote: true, class: "btn btn-default" do %>
                <i class="fa-solid fa-pen"></i>
            <% end %>
          <% end %>
          <% if policy(@itinerary).destroy? %>
            <%= button_to @itinerary, method: :delete, remote: true, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-default" do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# collaborations %>
    <div>
      <p data-toggle-target="button" data-action="click->toggle#toggle"><strong>Collaborators: </strong><% if current_user == @owner %><i class="fa-solid fa-user-plus"></i><% end %></p>
      <div>
        <i class="fa-solid fa-user"></i><%= " #{@owner.first_name} #{@owner.last_name}" %>
      </div>
      <% @itinerary.users.each do |user| %>
        <% unless user == @owner %>
          <div class="d-flex">
            <i class="fa-solid fa-user"></i><%= " #{user.first_name} #{user.last_name} " %>
            <%= button_to user.collaborations.find_by(itinerary_id: @itinerary.id), method: :delete,remote: true, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-default" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

      <% if current_user == @owner %>
        <div class="d-none" data-toggle-target="form">
          <%= render "itineraries/collaboration_form" %>
        </div>
      <% end %>

  </div>

  <div class="col-6">
    <%= render "itineraries/chat" %>
  </div>
</div>

<%# selections %>


  <div class="row small-card-row mt-3 ms-4">
    <h6>Wish List</h6>
    <% @selections_without_days.each do |selection| %>
      <div class="col-8">
        <div class="card small-card mb-2 shadow">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <h6 class="fw-bold small-card-text-title me-3 mb-0 pb-0"><%= selection.activity.name.truncate(27, separator: ' ') %></h6>
            <div class="d-flex gap-1" data-controller="add-activity-to-day">

              <%= link_to select_day_selection_path(selection)  do %>
                <i class="fa-regular fa-square-plus text-primary" data-action="click->add-activity-to-day#displayForm"></i>
              <% end %>

              <%= link_to selection_path(selection.activity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
                <i class="fa-regular fa-trash-can text-danger d-none"></i>
              <% end %>

            </div>
          </div>

          <p class="card-text fw-bold"><%= selection.activity.description.truncate(90, separator: ' ') %></p>
        </div>
      </div>

      <div class="col-4">
        <%= image_tag selection.activity.image_url, class: 'small-card-img shadow w-100' %>
      </div>
    <% end %>
  <div>

<%# group_by day hash in controller day on selection model %>

    <% @selections_with_days.each do |day, selection| %>
      <div>Day <%= day %></div>
      <% selection.each do |selection| %>
        <div>
          <%= selection.activity.name %>
            <%= link_to selection_path(selection), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
              <i class="fa-regular fa-trash-can text-danger"></i>
            <% end %>
        </div>
      <% end %>
    <% end %>


<%# TO MAKE A _PATH %>
<%# => prefix_path %>
<%# a. if the url you are trying to build has no ids, this is enough %>
<%# example: itineraries_path  %>
<%# b. if the url you are trying to build needs an id, you need to pass the instance as an argument %>
<%# example: itinerary_collaborations_path(@itinerary) %>
<%#  is going to create a url like: /itineraries/40/collaborations %>
