<% if notification.params[:type] == "create" %>
  <li>
    <div>
      <p class="text-gray">
        <strong><%= notification.params[:itinerary_owner].first_name %> <%= notification.params[:itinerary_owner].last_name %></strong> has added you to the itinerary
          <strong><%= link_to notification.params[:itinerary].title, itinerary_path(notification.params[:itinerary]) %></strong> as <em><%= notification.params[:collaboration].role.capitalize %></em>
      </p>
      <div class="flex justify-between mt-1 text-gray-500 text-sm space-x-4">
        <p>
          Received on <%= notification.created_at.to_date %>
        </p>
        <div class="d-flex">
          <p>
            Status: <%= notification.read? ? "Read" : "Unread" %>
          </p>
          <form action="" class="mx-3">
            <input type="checkbox" id="read" class="form-check-input" name="Mark as Read" value="Mark as Read">
            <label for="read" class="form-check-label"> Mark as Read </label><br>
          </form>
        </div>
      </div>
    </div>
  </li>
<% end %>
