 <div class="sidebar pe-4 h-100 bg-primary text-white">
  <nav id='dashboard'>
    <ul>
      <div class="accordion" id="accordionOne">
        <h3 data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">My Itineraries +</h3>
        <% unless controller_name == 'itineraries' && action_name == 'index' %>
          <li class="sub-nav accordion-collapse collapse" id="collapseOne" data-bs-parent="#accordionOne">
        <% else %>
          <li class="sub-nav accordion-collapse collapse show" id="collapseOne" data-bs-parent="#accordionOne">
        <% end %>
            <p class="sub-nav-item m-0" id="add-new" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Itinerary</p>
            <%= render "itineraries/form", itinerary: Itinerary.new %>
            <% unless @itineraries.nil? %>
              <% @itineraries.each do |itinerary| %>
                <i class="fa-solid fa-caret-right"></i> <%= link_to itinerary.title, itinerary_path(itinerary), class: "sub-nav-item text-decoration-none", id: "link" %><br>
              <% end %>
            <% end %><br>
          </li>
      </div>

      <h3 class="button nav-item"><%= link_to 'Explore', activities_path, id: "link" %></h3>

      <div class="accordion" id="accordionThree">
        <h3 class="nav-item" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Search <i class="fa-solid fa-magnifying-glass fa-2xs"></i></h3>
        <div class="sub-nav accordion-collapse collapse" id="collapseThree" data-bs-parent="#accordionThree">
          <%= form_tag(activities_path, method: "get") do  %>
            <%= select_tag(:tags, options_for_select(@tags.collect{ |tag| [tag, tag]}), class: "form-control mb-1", :prompt => "What's your mood?") %>
            <%= select_tag(:category, options_for_select(@categories.collect{ |category| [category, category]}), class: "form-control mb-1", :prompt => "What do you want to do?") %>
            <%= select_tag(:location, options_for_select(@locations.collect{ |location| [location, location]}), class: "form-control mb-1", :prompt => "Where?") %>
            <%= text_field_tag :number_of_people, params[:number_of_people], class: "form-control mb-1", placeholder: "How many people?" , autocomplete: "off" %>
            <%= submit_tag("Search", :class => "btn btn-outline-light mb-2 fw-bold" )%>
          <% end %>
        </div>
      </div>

      <div class="accordion d-none" id="accordionTwo">
        <li class="nav-item accordion-item">
          <h3 data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Selected itinerary</h3>
        </li>
          <ul class="sub-nav accordion-collapse collapse" id="collapseTwo" data-bs-parent="#accordionTwo">
            <li class="sub-nav-item"><h4>Wishlist</h4></li>
            <li class="sub-nav-item"><h4>Iteration over days</h4></li>
            <li class="sub-nav-item"><h4>Add day</h4></li>
          </ul>
      </div>

      <%# <h3 class="button nav-item"><%= link_to 'Contact Us', contact_path, id: "link"</h3> %>
    </ul>
  </nav>
</div>
