<div class="banner">


  <div class="row">
    <div class="col-12">
      <%= form_tag(activities_path, method: "get") do  %>
        <%= select_tag(:tags, options_for_select(@tags.collect{ |tag| [tag, tag]}), class: "form-control", :prompt => "What's your mood?") %>
        <%= select_tag(:category, options_for_select(@categories.collect{ |category| [category, category]}), class: "form-control", :prompt => "What do you want to do?") %>
        <div>
         <h1>TrailBlazr</h1>
        </div>
        <%= select_tag(:location, options_for_select(@locations.collect{ |location| [location, location]}), class: "form-control", :prompt => "Where?") %>
        <%= text_field_tag :number_of_people, params[:number_of_people], class: "form-control", placeholder: "How many people?"%>
        <%= submit_tag("Search", :class => "btn btn-primary" )%>
      <% end %>
    </div>
  </div>
</div>
