<header>
  <% if user_signed_in? %>
    <nav class="home-nav">
        <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete} %>
    </nav>
  <% else %>
    <nav class="home-nav">
      <%= link_to "Login", new_user_session_path %>
    </nav>
  <% end %>
</header>

<section class="parallax p-0 m-0" >
  <div data-controller="parallax" data-action="scroll->parallax#handleScroll">
    <div>
      <%= image_tag("hill1.png", id: "hill1", data: { parallax_target: "hill1" }) %>
    </div>
    <div>
      <%= image_tag("hill2.png", id: "hill2") %>
    </div>
    <div>
      <%= image_tag("hill3.png", id: "hill3") %>
    </div>
    <div>
      <%= image_tag("hill4.png", id: "hill4", data: { parallax_target: "hill4" }) %>
    </div>
    <div >
      <%= image_tag("hill5.png", id: "hill5",  data: { parallax_target: "hill5" }) %>
    </div>
    <div data-parallax-target="tree">
      <%= image_tag("tree.png" ,id: "tree") %>
    </div>
    <div id="div-text" data-parallax-target="text">
      <h1 id="text">TrailBlazr</h1>
    </div>
    <div>
      <%= image_tag("leaf.png" ,id: "leaf",  data: { parallax_target: "leaf" }) %>
    </div>
    <div>
      <%= image_tag("plant.png", id: "plant") %>
    </div>
  </div>
</section>

<section class="sec">
  <div class="input-form w-100">
    <%= form_tag(activities_path, method: "get") do  %>
      <div class="row justify-content-center">
        <div class="col-4 input-div">
          <%= select_tag(:tags, options_for_select(@tags.collect{ |tag| [tag, tag]}), class: "form-control input-box", :prompt => "What's your mood?") %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4 input-div">
          <%= select_tag(:category, options_for_select(@categories.collect{ |category| [category, category]}), class: "form-control input-box", :prompt => "What do you want to do?") %>
        </div>
        <%= button_tag(type: 'submit', class: "circle col-2" ) do %>
          <div class="pulse"></div>
          <div class="icon">
            <%=  content_tag(:i, "", class: "fa-solid fa-rocket icon") %>
          </div>
        <% end %>

        <div class="col-4 input-div">
          <%= select_tag(:location, options_for_select(@locations.collect{ |location| [location, location]}), class: "form-control input-box", :prompt => "Where?") %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4 input-div">
          <%= text_field_tag :number_of_people, params[:number_of_people], class: "form-control input-box", placeholder: "How many people?"%>
        </div>
      </div>
    <% end %>
  </div>
</section>
