
<% unless user_signed_in? %>
  <div id="home-login">
    <%= link_to "Login", new_user_session_path %>
  </div>
<% end %>

<section class="parallax" >
  <div data-controller="parallax" data-action="scroll->parallax#handleScroll">
    <div>
      <%= image_tag("hill1.png", id: "hill1", data: { parallax_target: "hill1" }) %>
    </div>
    <div>
      <%= image_tag("hill2.png", id: "hill2") %>
    </div>
    <div>
      <%= image_tag("hill3.png", id: "hill3") %>
    </div>
    <div>
      <%= image_tag("hill4.png", id: "hill4", data: { parallax_target: "hill4" }) %>
    </div>
    <div >
      <%= image_tag("hill5.png", id: "hill5",  data: { parallax_target: "hill5" }) %>
    </div>
    <div data-parallax-target="tree">
      <%= image_tag("tree.png" ,id: "tree") %>
    </div>
    <div id="div-text" data-parallax-target="text">
      <h1 id="text">TrailBlazr</h1>
    </div>
    <div>
      <%= image_tag("leaf.png" ,id: "leaf",  data: { parallax_target: "leaf" }) %>
    </div>
    <div data-parallax-target="plant">
      <%= image_tag("plant.png", id: "plant") %>
    </div>
  </div>
</section>


<div class="banner">
  <div class="row">
    <div class="col-12">
      <%= form_tag(activities_path, method: "get") do  %>
        <%= select_tag(:tags, options_for_select(@tags.collect{ |tag| [tag, tag]}), class: "form-control", :prompt => "What's your mood?") %>
        <%= select_tag(:category, options_for_select(@categories.collect{ |category| [category, category]}), class: "form-control", :prompt => "What do you want to do?") %>
        <div>
         <h1>TrailBlazr</h1>
        </div>
        <%= select_tag(:location, options_for_select(@locations.collect{ |location| [location, location]}), class: "form-control", :prompt => "Where?") %>
        <%= text_field_tag :number_of_people, params[:number_of_people], class: "form-control", placeholder: "How many people?"%>
        <%= submit_tag("Search", :class => "btn btn-primary" )%>
      <% end %>
    </div>
  </div>
</div>
