<h5 class="border-bottom py-3 ms-3"><%= @itinerary.title %></h5>

 <div class="row small-card-row mx-auto justify-content-center">
    <% @selections.each do |selection| %>

    <div class="col-8">
      <div class="card mb-2 shadow p-3">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="fw-bold text-truncate small-card-text-title me-3 mb-0 pb-0"><%= selection.activity.name %></h6>
        <%= link_to selection_path(selection.activity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
          <i class="fa-regular fa-trash-can text-danger"></i>
        <% end %>
      </div>

      <p class="card-text fw-bold small-card-text-limit"><%= selection.activity.description %></p>
    </div>
    </div>

    <div class="col-4">
      <div class="card mb-2 shadow"><%= image_tag selection.activity.image_url, class: 'small-card-img' %></div>
    </div>



    <% end %>
    <div>
