<div class="card" style="position: relative;">
  <img src=<%= activity.image_url %> alt=<%= activity.name %>/>
  <div class="card-infos">
    <div>
      <h4><%= activity.name %></h4>
      <p class="mt-1" style="text-align: justify;"><%= activity.description.truncate(100, separator: ' ') %></p>
    </div>
  </div>
  <h4 class="card-pricing m-2" style="position: absolute; bottom: 0; right: 0;"><%= activity.duration.to_i %>h</h4>
</div>
