<div class="card">
  <img src=<%= activity.image_url %> alt=<%= activity.name %>/>
  <div class="card-infos">
    <div>
      <h4><%= activity.name.truncate(27, separator: ' ') %></h4>
      <p><%= activity.description.truncate(100, separator: ' ') %></p>
    </div>
    <h4 class="card-pricing"><%= activity.duration.to_i %>h</h4>
  </div>
</div>
