  <div class="show-card">
    <h2> <%= @activity.name %></h2>
    <div class="d-flex mt-3">
      <div class="show-card-img">
        <img src=<%= @activity.image_url %> alt=<%= @activity.name %>>
      </div>
      <div class="col-6 ms-3 info-box" data-controller="toggle">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <p><i class="fa-solid fa-clock fa-xl"></i> <strong><%= @activity.duration.to_i %> hours</strong></p>
            <p class="mx-3"><i class="fa-solid fa-person fa-xl"></i> <strong> <%= @activity.number_of_people %></strong></p>
          </div>
          <div class="d-flex">
            <button class="btn btn-primary mb-3" data-toggle-target="button" data-action="click->toggle#toggle">Add to an itinerary</button>
          </div>
        </div>

        <div class="flex d-none" data-toggle-target="form">
          <%= simple_form_for [@activity, @selection], html: { class: "fix-width" } do |f| %>
            <div class="col-11">
              <%= f.association :itinerary, label: false, collection: @itineraries, :selected => @last_itinerary %>
            </div>
            <div class="col-1 ms-1">
              <%= f.submit "+", class: "btn btn-primary mb-3 ms-1" %>
            </div>
          <% end %>
        </div>

        <div class="info-box-child">
          <div class="readmore-y">
            <%= @activity.description %>
          </div>
        </div>

      </div>
    </div>
    <div class="container mt-3" style="width: 100%; height: 500px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
