<div class="container">
  <div class="d-flex">
    <div class="cards">

      <% @activities.each do |activity| %>
        <div class="card">
          <img src=<%= activity.image_url %> alt=<%= activity.name %>/>
          <div class="card-infos">
            <div>
              <h4><%= activity.name %></h4>
              <p><%= activity.description %></p>
            </div>
            <h4 class="card-pricing"><%= activity.duration.to_i %> hours</h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
