<!DOCTYPE html>
<html>
  <head>
    <title>Trailblazr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="section">
    <%= render "shared/navbar" %>
  </div>
  <div data-controller="sidebar-toggler">
    <i class="fa-regular fa-compass fa-2xl" data-action="click->sidebar-toggler#fire"></i>
    <div data-sidebar-toggler-target="sidebar">
    <%= render "shared/sidebar" %>
    </div>
  </div>
  <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
