<!DOCTYPE html>
<html>
  <head>
    <title>Trailblazr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container-fluid">
    <div class="row section" data-controller="sidebar-toggler">
      <%= render "shared/navbar" %>
      <div class="col-3 d-none" data-sidebar-toggler-target="sidebar">
        <%= render "shared/sidebar" %>
      </div>
      <div class="col-6">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/flashes" %>
  </div>
  </body>
</html>
