<!DOCTYPE html>
<html>
  <head>
    <title>Trailblazr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container-fluid" data-controller="sidebar-toggler">
    <div class="row section" >
      <%= render "shared/navbar" %>
      <%# <% unless controller_name == 'devise-sessions' || controller_name == 'pages' && action_name == 'home' %> %>
        <div class="col-3" data-sidebar-toggler-target="sidebar">
          <%= render "shared/sidebar" %>
        </div>
      <% end %>
      <div class="" data-sidebar-toggler-target="body">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/flashes" %>
  </div>
  </body>
</html>
