<!DOCTYPE html>
<html>
  <head>
    <title>Trailblazr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
  </head>

  <body>
  <div class="container-fluid" data-controller="sidebar-toggler">
    <div class="row section" >
      <%= render "shared/navbar" %>
      <% unless controller_name == 'sessions' ||
      controller_name == 'passwords' ||
      controller_name == 'registrations' ||
      controller_name == 'pages' && action_name == 'home' %>
        <div class="col-3" data-sidebar-toggler-target="sidebar">
          <%= render "shared/sidebar" %>
        </div>
      <% end %>
      <% unless controller_name == 'pages' && action_name == 'home' %>
        <div class="col-9" data-sidebar-toggler-target="body">
          <%= yield %>
        </div>
      <% else %>
        <div class="" data-sidebar-toggler-target="body">
          <%= yield %>
        </div>
      <% end %>
    </div>
    <%= render "shared/flashes" %>
  </div>
  </body>
</html>
