<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <style>
        <%= ".msg-#{current_user&.id}" %> {
          background-color: #1C2B26ff !important;
          color: #F2E4C6ff !important;
        }
        <%= ".cont-#{current_user&.id}" %> {
          display: flex;
          justify-content: flex-end;
          text-align: right;
        }
        <%= ".name-#{current_user&.id}" %> {
          display: none;
        }
      </style>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <% if controller_name == 'pages' && action_name == 'home' %>
      <%= yield %>
    <% else %>

      <div class="container-fluid g-0" data-controller="sidebar-toggler">
        <%= render "shared/navbar" %>
        <div class="row section" >

          <% unless controller_name == 'sessions' ||
          controller_name == 'passwords' ||
          controller_name == 'registrations' ||
          controller_name == 'pages' && action_name == 'home' %>
            <div class="col-2" data-sidebar-toggler-target="sidebar">
              <%= render "shared/sidebar" %>
            </div>
          <% end %>
            <div class="col-10" data-sidebar-toggler-target="body">
              <%= yield %>
            </div>
        </div>
      </div>
      <div>
        <%= render "shared/footer" %>
      </div>
    <% end %>
  </body>
</html>
